@import "tailwindcss"; 

/* .app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f4f5f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
} */
